* {
  margin: 0;
  padding: 0;
  border-width: 0px;
  text-shadow: rgba(0, 0, 0, 0.438) 1px 0 10px;
  color: #fff;
}
svg{
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.438));
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center;
}

.test {
    position:relative;
    max-width: 900px;
    width: 90%;
    padding: 10px;
    border:solid 0.2vw white;
    border-radius: 2vw;
    outline: auto;
    backdrop-filter: blur(10px);
  }

  .left {
    background-color: #2196F3;
    padding: 20px;
    float: left;
    width: 50%; /* The width is 20%, by default */
  }
  
  .right {
    background-color: #04AA6D;
    padding: 20px;
    float: left;
    width: 50%;