body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-image: url('backgroundimg.png');
}

.block{
    font-size:1vw;
    margin-left: auto;
    margin-right: auto;
    width: 50vw;
    background-color: white;
    border-radius: 6vw;
    padding-left: 7vw;
    
}

.age_table{
    margin-left: auto;
    margin-right: auto;
}



label{
    color:black;
}

.psw_input{
    display: none;
}

.common_btn {        /*width:height == 3:1*/
    width: fit-content;
    height:2.5vw;
    border:none;
    border:solid 0.15vw black;
    border-radius:5vw;     /*half as height*/
    background: none;
    font-size: 1vw;
    margin-bottom:1.5vw;
  }
  
  .common_btn:active {
    background-color: black; /*make this the same as the border color*/
    color:white; 
  }
  
  
  .input_text{
  width: 10%;
  height: 60;
  font-size: 1vw;
  background: none;
  border:none;
  border-bottom:solid 0.3vw black;
  
  }
  
  .input_text:focus{    /*while clicked on or writing*/
    background-color:blue;
    color: white;
    opacity: 0.2;
    background-color: rgba(0,0,0,0.2);
  }

  .spacing{
    margin-top: 10px;
    
  }

  input[type="radio"]{


  }

