body {
  background-image: url('images/bg.jpg');
  background-size: cover;
  background-position: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  color: white;
}

.container{
  border: solid 3px white;
  border-radius: 2vw;
  position: relative;
  max-width: 1080px;
  backdrop-filter: blur(2px);
  box-shadow:0px 0px 30px 5px #383838;
}

.text-center{
	color:#fff;	
	text-transform:uppercase;
  font-size: 23px;
  margin: -50px 0 80px 0;
  display: block;
  text-align: center;
}

.input-container{
	position:relative;
	margin-bottom:20px;
}
.input-container label{
	position:absolute;
	top: 5px;
	left: 0px;
	font-size: 16px;
	color:#fff;	
    pointer-events:none;
	transition: all 0.5s ease-in-out;
}
.input-container input{ 
  border:0;
  border-bottom:1px solid #ffffff;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container input:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #383838;	
}
.input-container input:focus ~ label,
.input-container input:valid ~ label{
	top:-12px;
	font-size:12px;
  color: #383838;
}
.input-container select{ 
  border:0;
  border-bottom:1px solid #ffffff;  
  background:transparent;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}
.input-container select:focus{ 
 border:none;	
 outline:none;
 border-bottom:1px solid #383838;	
}
.input-container select:focus ~ label,
.input-container select:valid ~ label{
	top:-12px;
	font-size:12px;
  color: #383838;
}

.btn-outline-light:hover {
  background: #383838;
  color: white;
}

.form-label {
  font-size: 16px;
  color: #fff;
}

.form-range::-webkit-slider-runnable-track {
  background: #fff;
}

.form-range::-webkit-slider-thumb {
  background-color: #383838;
  outline: solid 1px #fff;
}

.form-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 0.3rem #383838;
  background-color: #383838;
  outline: 1px solid #fff;
  z-index: 2;
}

.form-select {
  border: 0;
  border-bottom: 1px solid #ffffff;
  background: transparent;
  border-radius: 0;
  width:100%;
  padding:8px 0 5px 0;
  font-size:16px;
  color:#fff;
}